#toolbar {
    position: fixed;
    left: 1rem;
    top: 5%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
}

#toolbar > button {
    font-size: 1rem;
}

#container {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
}

.container {
    position: absolute;
    padding: 5px;
    transform: translate(-2.5px, -2.5px);
}

.container::before {
    content: "";
}

.draggable {
    border: transparent 1px solid;
}

.draggable:hover {
    border: black 1px solid;
}

.textbox {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: white;
    border: 0.5px black solid;
    overflow-wrap: break-word;
    overflow-y: hidden;
    user-select: none;
}

.imgbox {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: grey;
}

.line {
    position: absolute;
    height: 1px;
    width: 1px;
    box-sizing: border-box;
    border: 0.5px black solid;
}
