@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&family=Lora&display=swap');

:root {
    --stripe-color: #bababa;
    --stripe-color-sec: #5d5d5d;
}

body {
    font-family: 'Lora', serif;
}

button {
    font-family: 'Lora', serif;
    border: none;
    font-size: 1rem;
    border: 2px dotted transparent;
    transition: font-size 0.1s, border 0.1s;
    user-select: none;
}

button:hover {
    border: 2px dotted grey;
    font-size: 1.1rem;
}

.disable {
    cursor: unset !important;
    color: grey !important;
    border: 2px dotted grey !important;
    font-size: 1rem !important;
}

h1 {
    font-family: 'Cinzel', serif;
}

#toolbar {
    position: fixed;
    left: 1rem;
    top: 5%;
    width: 150px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    opacity: 1;
    transition: opacity 1s;
}

@media (max-width: 768px) {
    #toolbar {
        width: 70px;
    }
    #toolbar > button {
        padding: 0;
    }
}

#container {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

#deletion {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -10;

    margin: 0.5rem;
    width: 200px;
    height: 200px;
    line-height: 200px;

    font-family: 'Lora', serif;
    text-align: center;
    transition: font-size 0.2s, background-color 0.3s, border 0.3s, color 0.1s;
}

#btn-back {
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    color: black;
}

.deletion-inactive {
    color: transparent;
    border: 1px transparent dashed;
}

.deletion-active {
    display: block;
    color: black;
    border: 1px grey dashed;
}

.deletion-hover {
    color: white;
    font-size: 2.5rem;
    background-color: var(--stripe-color);
    animation: stripes 0.3s infinite;
}

@media(max-width: 768px) {
    #deletion {
        height: 100px;
        line-height: 100px;
    }
}

/**
* Code for the stripes found in https://css-tricks.com/stripes-css/.
* Animated by myself.
*/
@keyframes stripes {
    0% {
        background: repeating-linear-gradient(
            45deg,
            var(--stripe-color-sec),
            var(--stripe-color-sec) 10px,
            var(--stripe-color) 10px,
            var(--stripe-color) 20px
        );
    }
    33% {
        background: repeating-linear-gradient(
            45deg,
            var(--stripe-color),
            var(--stripe-color) 5px,
            var(--stripe-color-sec) 5px,
            var(--stripe-color-sec) 15px,
            var(--stripe-color) 15px,
            var(--stripe-color) 20px
        );
    }
    66.7% {
        background: repeating-linear-gradient(
            45deg,
            var(--stripe-color),
            var(--stripe-color) 10px,
            var(--stripe-color-sec) 10px,
            var(--stripe-color-sec) 20px
        );
    }
    100% {
        background: repeating-linear-gradient(
            45deg,
            var(--stripe-color-sec),
            var(--stripe-color-sec) 5px,
            var(--stripe-color) 5px,
            var(--stripe-color) 15px,
            var(--stripe-color-sec) 15px,
            var(--stripe-color-sec) 20px
        );
    }
}

.container {
    position: absolute;
    padding: 5px;
    transform: translate(-2.5px, -2.5px);
    user-select: none;
}

.container::before {
    content: "";
}

.draggable {
    cursor: grab;
    border: transparent 1px solid;
}

.draggable:active {
    cursor: grabbing;
    z-index: 100;
}

.draggable:active > div {
    background-color: rgba(100, 100, 100, 0.5);
}

.draggable:hover {
    border: black 1px solid;
}

.titlebox {
    position: absolute;
    height: 50px;
    width: 600px;
    background-color: transparent;
    border: 0.1px grey solid;
    overflow: hidden;
}

.titlebox > h1 {
    margin: 0;
}

.textbox {
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: transparent;
    border: 0.1px grey solid;
    overflow-wrap: break-word;
    overflow-y: hidden;
}

.imgbox {
    position: absolute;
    height: 200px;
    width: 200px;
    background: repeating-linear-gradient(
        45deg,
        white,
        white 10px,
        #00000075 10px,
        #00000075 20px
    );
}

.imgbox > img {
    height: 100%;
    width: 100%;
}

.transparent {
    opacity: 0 !important;
}

@media(max-width: 768px) {
    .titlebox {
        width: 300px;
    }
    .textbox {
        width: 100px;
        height: 100px;
    }
}

.line {
    position: absolute;
    height: 1px;
    width: 1px;
    box-sizing: border-box;
    border: 0.5px black solid;
}
